<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>HTML-анализатор</title>
</head>

<body>

<h2>HTML-анализатор</h2>

<hr/>

<form th:method="POST" th:action="@{/html-parser/result}" th:object="${htmlParserResult}">
    <label for="url-address">URL-адрес HTML-страницы: </label>
    <input type="url" th:field="*{urlAddress}" id="url-address" placeholder="https://www.example.com/"/>
    <br/>
    <br/>
    <input type="submit" value="Произвести анализ HTML-страницы"/>
</form>

</body>

</html>